<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baosight.library.dao.UserDao">
<!--    <resultMap id="userMap" type="com.baosight.library.domain.User">
        <id property="id" column="ID"/>
        <result property="Name" column="Name"/>
        <result property="Password" column="Password"/>
    </resultMap> -->


	<select id="login" parameterType="java.lang.String" resultType="java.lang.String">
		select password from User where name= #{username}
	</select>
	
	<select id="findByUserName" parameterType="String">
		select u.*
		,r.role_name
		from User u
        LEFT JOIN UserRole ur on u.id= ur.user_id
        LEFT JOIN SysRole r on ur.role_id=r.role_id
        where u.name= #{username}
	</select>

</mapper>
